@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:400,300,600);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Kumbh Sans;
}

body, html, .part{
    width:100%;
    height:100%;
}

.outer-wrapper{
    width:300%;
    height:100%;
    display:flex;
    flex-direction:row;
    overflow-y:scroll;
    overflow-x:hidden;
}
.one, .two, .three{
    background-color: #FF2159;
    color:white;
}




.part{
    display:flex;
    flex-direction:row;
}

.subpart
{
    width:50%;
    height:100%;

}


.naslov
{
    width:100%;
    font-size:70px;
    position:absolute;
    text-align:center;
    top:35%;
}

.image-wrapper-1
{
background-image:url('https://images.pexels.com/photos/3962349/pexels-photo-3962349.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
background-repeat:no-repeat;
background-size:contain;
background-position: center;
width:100%;
height:100%;

}

.image-wrapper-2{
background-image:url('https://images.pexels.com/photos/3786155/pexels-photo-3786155.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
background-repeat:no-repeat;
background-size:contain;
background-position: center;
width:100%;
height:100%;
}

.text{
    position:relative;
    top:20%;
    padding:20px;
    font-size:30px;
    color:white;
}

@media only screen and (max-width:480px)
{
    .outer-wrapper{
        width:100%;
        height:300%;
        display:flex;
        overflow-x:scroll;
        overflow-y:hidden;

    }
    .one{
        
        color:white;
        position: absolute;
        top:0;
        width:100%;
        height:100%;
        text-align:center;

    }
    
    .two{
        
        position:absolute;
        top:100%;
        display:flex;
        flex-direction: column;
    }
    
    .three{
        
        position:absolute;
        top:200%;
        display:flex;
        flex-direction:column;
    }
    
    .two-1, .two-0, .three-1, .three-0
    {
        width:100%;
        height:100%;
    }
    
   .image{
       width:30px;
       height:50px;
   }
    
    .naslov
    {
        top:45%;
        width:100%;
        font-size:30px;
    }
    
    .image-wrapper-1, .image-wrapper-2
    {
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;

    }
    
    .text{
    
      font-size:10px;
    }


}
